<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BuyBuddy</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/_header.css" />
    <link rel="stylesheet" href="/styles/signup.css" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include('partials/_header') %>
    <div class="signup-container">
      <h1>Create Account</h1>
      <form action="/signup" method="POST" class="form-signup">
        <label for="email">Email</label>
        <input
          class="form-control"
          type="email"
          name="email"
          placeholder="Email Address"
          required
        />
        <label for="password">Password </label>
        <input
          class="form-control"
          type="password"
          name="password"
          placeholder="password"
          required
        />

        <div class="radio-btns">
          <div>
            <input type="radio" id="buyer" name="type" value="buyer" checked />
            <label for="buyer">Buyer</label>
          </div>

          <div>
            <input type="radio" id="seller" name="type" value="seller" />
            <label for="seller">Seller</label>
          </div>
        </div>

        <button type="submit" class="signup-btn btn btn-large">Sign Up</button>
      </form>
    </div>
  </body>
</html>
