@import 'variables';

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding:2rem;

  .container-left {
    width: 300px;

  }

  .container-right {
    flex: 1;
  }
}

.container-right {
  .card {
    width: 100%;
    border: 2px solid $text-color;
    border-radius:8px;
    padding:24px 16px;

    .card-header {
      display: flex;
      align-items: center;
      justify-content:space-between;
    }

    .card-body{
      padding-top:16px;
      .message{
        font-weight:700;
      }
    }
  }
}






